<template name="repo">
  <div class="row">
    <div class="col-lg-3">
      <img src="{{url}}" width="80px" height="80px" class="img-circle">
    </div>
    <div class="col-lg-9">
      <p><b style="font-size: 18px;">{{name}} ({{_unit.name}})  {{price}} {{baseCurrency.symbol}}</b></p>
      <p>
        {{description}}
      </p>
    </div>
  </div>


</template>
<template name="restaurant_checkout">
  <div class="wrap-content" style="padding: 5px; overflow: hidden">
    <div class="row">
      <div class="col-md-7">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="panel-title"><b>Sale</b>
                         <span class="pull-right">
                             <input class="form-control typeahead input-sm" name="search"
                                    type="text"
                                    placeholder="Type your product name" autocomplete="on"
                                    spellcheck="off"
                                    data-source="search" data-select='selected' data-highlight=true
                                    data-template='repo' style="width: 315px;"/>
                             </span>
            </span>
          </div>
          <div class="panel-body">
            <div class="row">
              <!--<div class="col-lg-2" style="text-align: center">

                            </div>-->
              <div class="col-lg-12">
                <ul>
                  <li role="presentation" class="all-category btn-category {{#if isAll}}active {{/if}}">
                    <a role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                                            All
                                        </a>
                  </li>
                  {{#each categories}}
                  <li role="presentation" class="category btn-category">
                    <a role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                                                {{name}}
                                            </a>
                  </li>
                  {{/each}}
                </ul>
                <div class="row">
                  <ul id="myTabs" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="all-unit">
                      <a role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                                                All
                                            </a>
                    </li>
                    {{#each units}}
                    <li role="presentation" class="unit">
                      <a role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                                                    {{name}}
                                                </a>
                    </li>
                    {{/each}}
                  </ul>
                </div>
                <div class="table-responsive">
                  {{#each products}} {{> restaurant_showProduct}} {{/each}}
                </div>
                <!-- <div class="row"><h5>Unit</h5></div>
                                <div class="row">
                                    <div style="width: 100px; margin: 2px;"
                                         class="btn {{#if thatUnit "All"}} btn-success{{else}} btn-primary{{/if}} all-unit">
                                        All
                                    </div>
                                </div>

                                {{#each units}}
                                    <div class="row">
                                        <div style="width: 100px; margin: 2px;"
                                             class="btn {{#if thatUnit _id}} btn-success{{else}} btn-primary{{/if}} unit">{{name}}</div>
                                    </div>
                                {{/each}}-->

              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="panel-title"><b>Product List</b>
                            <!--<div class="dropdown">
                                <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="fa fa-undo"></i> Resume Invoice
                                    <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              {{#each sales}} &lt;!&ndash;onclick="Session.set('hasUpdate', false);"&ndash;&gt;
              <li><a href="/restaurant/checkout/{{_id}}" class="resume" data-id="{{_id}}">{{_customer.name}}
                                            | {{_id}}</a></li>
              {{/each}}
            </ul>
          </div>-->
          <input type="text" class="la-box pull-right" id="sale-id" value="{{sale._id}}" readonly/>
          </span>


        </div>
        <div class="panel-body">
          <form class="form-horizontal">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="sale-id" class="col-sm-3 control-label">Date</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control input-sm" id="sale-date" readonly value="{{sale.saleDateFormatted}}">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="staff-id" class="col-sm-3 control-label">Table</label>
                  <div class="col-sm-9">
                    <select class="form-control input-sm" id="table-id">
                      {{#each tables}}
                      <option value="{{_id}}" selected="{{#if compareTableId _id}}selected{{/if}}">{{name}}</option>
                      {{/each}}
                    </select>
                    <!--<input type="text" class="form-control input-sm" id="staff-id">-->
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="staff-id" class="col-sm-3 control-label">Staff</label>
                  <div class="col-sm-9">
                    <select class="form-control input-sm" id="staff-id">
                      {{#each staffs}}
                      <option value="{{_id}}" selected="{{#if compareTwoValue _id sale.staffId}}selected{{/if}}">{{name}}</option>
                      {{/each}}
                    </select>
                    <!--<input type="text" class="form-control input-sm" id="staff-id">-->
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="customer-id" class="col-sm-3 control-label">Customer</label>
                  <div class="col-sm-9">
                    <select class="form-control input-sm" id="customer-id">
                      {{#each customers}}
                      <option value="{{_id}}" selected="{{#if compareTwoValue _id sale.customerId}}selected{{/if}}">{{name}}</option>
                      {{/each}}
                    </select>
                    <!--<input type="text" class="form-control input-sm" id="customer-id">-->
                  </div>
                </div>

              </div>
            </div>
          </form>
          <div class="table-responsive" style="overflow: hidden">
            <table class="table table-responsive table-condensed table-hover table-bordered">
              <thead class="jumbotron">
                <tr>
                  <th>Item</th>
                  <th>Price</th>
                  <th>Qty</th>
                  <!--<th class="align-center">Dis</th>-->
                  <th>Amount</th>
                  <th class="align-center">&nbsp;&nbsp;Action&nbsp;&nbsp;</th>
                </tr>
              </thead>
              <tbody class="align-center" id="product-list">
                <span id="table-name">{{sale._table.name}}</span> {{#each saleDetails}}
                <tr class='{{setClass productId}} flash-highlight' data-id="{{_id}}">
                  <td align="left">
                    {{_product.name}}({{_product._unit.name}}) {{#if isEmptyString note}}
                    <i class="cursor-p fa fa-sticky-note-o add-note"></i> {{else}}
                    <i class="cursor-p fa fa-sticky-note add-note"></i> {{/if}}
                    <i class="fa fa-print cursor-p chef-print"></i>
                  </td>
                  <td>
                    <input type="text" class="la-box price" value="{{price}}" />
                  </td>
                  <td class="{{toggleHighlight productId}}">{{quantity}}</td>
                  <!--<td>{{discount}}</td>-->
                  <td class="total-amount">{{amount}}</td>
                  <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="">
                      {{#if compareTwoValue quantity 1}}
                      <button class="btn btn-warning btn-minus" disabled>-</button>
                      {{else}}
                      <button href="" class="btn btn-warning btn-minus">-</button>
                      {{/if}}
                      <button class="btn btn-primary btn-plus">+</button>
                      <button class="btn btn-danger btn-remove"><i class="fa fa-trash"></i></button>
                    </div>
                    <!--<a href="" class="btn btn-xs btn-danger btn-remove"><i
                                                    class="fa fa-trash"></i></a>-->
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
            <div class="row">
              <div class="col-md-12">
                <form class="form-horizontal">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="total_riel" class="col-sm-5 control-label">Sub Total {{baseCurrency._id}}</label>

                        <div class="col-sm-7">
                          <div class="input-group input-group-sm">
                            <input type="text" class="form-control subtotal_riel input-sm" id="subtotal_usd" value="{{sale.subTotalFormatted}}" readonly>
                            <span class="input-group-addon"><b>{{baseCurrency.symbol}}</b></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="total_discount" class="col-sm-5 control-label">Discount</label>

                        <div class="col-sm-7">
                          <div class="input-group input-group-sm">
                            <input type="text" class="form-control validation input-sm" id="total_discount" value="{{sale.discount}}">
                            <span class="input-group-addon"><b>%</b></span>
                          </div>
                        </div>

                      </div>
                      <!-- <div class="form-group">
                                                    <label for="total_discount_amount"
                                                           class="col-sm-5 control-label">Discount</label>

                                                    <div class="col-sm-7">
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" class="form-control validation input-sm"
                                                                   id="total_discount_amount"
                                                                   value="{{sale.discountAmount}}">
                                                            <span class="input-group-addon"><b>{{baseCurrency.symbol}}</b></span>
                                                        </div>
                                                    </div>

                                                </div>-->
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="total_usd" class="col-sm-5 control-label">Total {{baseCurrency._id}}</label>

                        <div class="col-sm-7">
                          <div class="input-group input-group-sm">
                            <input type="text" class="form-control input-sm" id="total_usd" value="{{sale.totalFormatted}}" readonly>
                            <span class="input-group-addon"><b>{{baseCurrency.symbol}}</b></span>
                          </div>
                        </div>

                      </div>

                      {{#if hasTotal sale.total}} {{#each exchangeRates.rates}}
                      <div class="form-group">
                        <label for="total_riel" class="col-sm-5 control-label">Total {{toCurrencyId}}</label>

                        <div class="col-sm-7">
                          <div class="input-group input-group-sm">
                            <input type="text" class="form-control input-sm" value="{{multiply rate sale.total toCurrencyId}}" readonly>
                            <span class="input-group-addon"><b>{{getFileOfCurrency toCurrencyId "symbol"}}</b></span>
                          </div>
                        </div>

                      </div>

                      {{/each}} {{/if}}


                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>


          <!-- <div class="col-md-11 col-md-offset-1">
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="total_riel" class="col-sm-5 control-label">Sub
                                                Total {{baseCurrency._id}}</label>

                                            <div class="col-sm-7">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control subtotal_riel input-sm"
                                                           id="subtotal_usd"
                                                           value="{{sale.subTotalFormatted}}" readonly>
                                                    <span class="input-group-addon"><b>{{baseCurrency.symbol}}</b></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="total_discount" class="col-sm-5 control-label">Discount</label>

                                            <div class="col-sm-7">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control validation input-sm"
                                                           id="total_discount"
                                                           value="{{sale.discount}}">
                                                    <span class="input-group-addon"><b>%</b></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label for="total_discount_amount"
                                                   class="col-sm-5 control-label">Discount</label>

                                            <div class="col-sm-7">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control validation input-sm"
                                                           id="total_discount_amount"
                                                           value="{{sale.discountAmount}}">
                                                    <span class="input-group-addon"><b>{{baseCurrency.symbol}}</b></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="total_usd"
                                                   class="col-sm-5 control-label">Total {{baseCurrency._id}}</label>

                                            <div class="col-sm-7">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control input-sm" id="total_usd"
                                                           value="{{sale.totalFormatted}}"
                                                           readonly>
                                                    <span class="input-group-addon"><b>{{baseCurrency.symbol}}</b></span>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>

                            </form>
                        </div>-->
        </div>
      </div>

      <div class="pull-right">
        <a href="/restaurant/tableView" class="btn btn-info" id="btn-to-table-view"><i
                            class="fa fa-arrow-left"></i> Table View</a>
        <!--  <div class="btn-group dropup">
                        <button type="button" class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown"><i class="fa fa-undo"></i>&nbsp;Resume<span
                                class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {{#each sales}}
                                &lt;!&ndash;onclick="Session.set('hasUpdate', false);"&ndash;&gt;
                                <li><a href="/restaurant/checkout/{{_id}}" class="resume"
                                       data-id="{{_id}}">{{_customer.name}}
                                    | {{_id}}</a></li>
                            {{/each}}

                        </ul>
                    </div>-->
        <!--<button type="button" id="suspend" class="btn btn-info"><i class="fa fa-archive"></i>&nbsp;Suspend
                    </button>-->

        <a href="/restaurant/checkout/print/{{sale._id}}" id="btn-print" class="btn hidden btn-primary" target="_blank"><i
                            class="fa fa-money"></i>&nbsp;Print</a>
        <a id="print-invoice" class="btn btn-warning"><i
                            class="fa fa-money"></i>&nbsp;Print</a>
        <a id="save-without-pay" class="btn btn-primary"><i class="fa fa-save"></i> Save</a>
        <button type="button" class="btn btn-success" data-toggle="modal" id="btn-pay"><i class="fa fa-money"></i>&nbsp;Pay
        </button>
        <button type="button" class="btn btn-danger" id="cancel-sale"><i class="fa fa-trash-o"></i>&nbsp;Cancel
        </button>
      </div>

    </div>

  </div>
  </div>

  <div class="modal fade" id="payment" data-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"> Payment <span id="due-grand-total" class="hidden">{{sale.total}}</span>
                    </h4>
        </div>
        <form class="form-horizontal">
          <div class="modal-body">

            <table id="payment-table" width="100%">
              <tbody id="payment-list">
                <tr>
                  <td>Total {{baseCurrency._id}}
                    <div id="pay-format">
                      <input type="text" value="{{sale.totalFormatted}} {{baseCurrency.symbol}}" readonly class="due-amount-total form-control">
                    </div>
                  </td>
                  <td>Pay in {{baseCurrency._id}}
                    <div id="pay-format">
                      <input type="text" class="pay-amount form-control">
                    </div>
                  </td>
                  <td>Change in {{baseCurrency._id}}
                    <div id="pay-format">
                      <input type="text" id="{{baseCurrency._id}}" class="return-amount form-control" readonly>
                    </div>
                  </td>
                  <td class="hidden"><span class="currency-id">{{baseCurrency._id}}</span>

                    <div id="pay-format">
                      <input type="text" value="1" class="exchange-rate form-control" readonly>
                    </div>
                  </td>
                </tr>

                {{#each exchangeRates.rates}}
                <tr>
                  <td>Total {{toCurrencyId}}
                    <div id="pay-format">
                      <input type="text" value="{{multiply rate sale.total toCurrencyId}} {{getFileOfCurrency toCurrencyId " symbol "}}" class="due-amount-total form-control" readonly>
                    </div>
                  </td>

                  <td>Pay in {{toCurrencyId}}
                    <div id="pay-format">
                      <input type="text" class="pay-amount form-control">
                    </div>
                  </td>
                  <td>Change in {{toCurrencyId}}
                    <div id="pay-format">
                      <input type="text" id="{{toCurrencyId}}" class="return-amount form-control" readonly>
                    </div>
                  </td>
                  <td class="hidden">Exchange Rate From <span class="currency-id">{{toCurrencyId}}</span>

                    <div id="pay-format">
                      <input type="text" class="exchange-rate form-control" value="{{rate}}" readonly>
                    </div>
                  </td>

                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="print-sale">Save and Print</button>
            <button type="button" class="btn btn-primary" id="save-sale">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</template>
