<template name="restaurant_invoiceTransfer">

    <div class="row">
        <div class="col-sm-6">
            <h3>From</h3>
            <select class="form-control" id="from-sale-id">
                <option></option>
                {{#each fromSales}}
                    <option value="{{_id}}">
                        {{_id}} | {{_customer.name}} | {{_table.name}}
                    </option>
                {{/each}}
            </select>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <ul id="from-sortable-sale" class="list-group connectedSortable">
                        {{#each fromSaleDetails}}
                            <li class="cursor-p list-group-item ui-state-default" id="{{_id}}">
                                {{_product.name}}({{_product._unit.name}}) | Qty:{{quantity}} | Price: {{price}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h3>To</h3>
            <select class="form-control" id="to-sale-id">
                <option></option>
                {{#each toSales}}
                    <option value="{{_id}}">
                        {{_id}} | {{_customer.name}} | {{_table.name}}
                    </option>
                {{/each}}
            </select>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <ul id="to-sortable-sale" class="list-group connectedSortable">
                        {{#each toSaleDetails}}
                            <li class="cursor-p list-group-item ui-state-default" id="{{_id}}">
                                {{_product.name}}({{_product._unit.name}}) | Qty:{{quantity}} | Price: {{price}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>


</template>
